<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">


  <link rel="stylesheet" href="css/style.css">
  <title>CodeGig</title>
</head>

<body>
  <header class="inner">
    <h2><a href="/"><i class="fas fa-code"></i>
        CodeGig</a></h2>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/gigs">All Gigs</a>
        </li>
        <li>
          <a href="/gigs/add">Add Gig</a>
        </li>   
      </ul>
    </nav>
  </header>

  <div class="container">
    <section id="gigs" class="container">
    <h1>All Gigs</h1>
    

    <% gigs.forEach(gig => { %>

    	<div class="gig">
	      <h3><%= gig.title %></h3>
	      <p><%= gig.description %></p>
	      <ul>
	        <li>Budget: <%= gig.budget %></li>
	        <li><a href="#" class="btn btn-reverse">Apply Now</a></li>
	      </ul>
	      <div class="tech">
	        <small>Technologies Needed: <span><%= gig.technologies %></span></small>
	      </div>
	    </div>

	<% }) %>

	    

   
  </section>
  </div>

</body>

</html>